<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eigen" version="3.2.1" targetFramework="Native" />
  <package id="OpenCV" version="2.4.8" targetFramework="Native" />
  <package id="poco.foundation" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.foundation.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.util.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="tbb" version="4.2.3.1" targetFramework="Native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="Native" />
</packages>